body {
    padding-top: 20px;
}

.content {
    padding: 40px 15px;
}

.navbar-inverse {
    background-color: #f47f2f;
    border-color: #c76826;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #c76826;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #c76826;
}
.navbar-inverse .navbar-toggle {
    border-color: #c76826;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #c76826;
}

nav.pagination-container {
    text-align: center;
}


/** Maps **/
#map {
    height: 450px;
}