@import forms.EnvironmentForm
@import b3.vertical.fieldConstructor

@(form: Form[EnvironmentForm], envTypes: List[EnvironmentType], locTypes: List[LocalizationType])

@envTypesSeq = @{ for (c <- envTypes) yield c.getId.toString -> c.getName }
@locTypesSeq = @{ for (c <- locTypes) yield c.getId.toString -> c.getName }

@apiKey = @{play.api.Play.current.configuration.getString("google.maps.api_key")}

@scripts = {
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("wicket.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("wicket-gmap3.js"))"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=@apiKey&libraries=drawing"></script>

    <script>

var Point = function(point) {
    this.point = point;
    this.init();
};

Point.prototype = {
    init: function() {
        var self = this;
        this.point.setDraggable(true);

        this.circle = new google.maps.Circle({
          strokeColor: '#FF0000',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillOpacity: 0,
          map: this.point.map,
          center: {lat: this.point.position.H, lng: this.point.position.L},
          radius: 100,
          editable: true
        });

        google.maps.event.addListener(this.point, 'position_changed', function() {
            self.circle.setCenter({lat: self.point.position.H, lng: self.point.position.L});
        });
    },

    destroy: function() {
        this.point.setMap(null);
        this.circle.setMap(null);
    }
};

var Map = (function() {
    var map;
    var point = null;
    var shape = null;



    return {
        options: {
            center: {lat: -34.397, lng: 150.644},
            zoom: 2,
            defaults: {
                icon: '@routes.Assets.versioned("images/red_dot.png")',
                shadow: '@routes.Assets.versioned("images/dot_shadow.png")',
                editable: true,
                strokeColor: '#990000',
                fillColor: '#EEFFCC',
                fillOpacity: 0.6
            },
            disableDefaultUI: true,
            mapTypeControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControlOptions: {
                position: google.maps.ControlPosition.TOP_LEFT,
                style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
            },
            panControl: false,
            streetViewControl: false,
            zoomControl: true,
            zoomControlOptions: {
                position: google.maps.ControlPosition.LEFT_TOP,
                style: google.maps.ZoomControlStyle.SMALL
            }
        },

        init: function(options) {
            var opts = $.extend({}, Map.options, options);

            // create map
            map = new google.maps.Map(document.getElementById('map'), opts);

            // create map creation controls
            map.drawingManager = new google.maps.drawing.DrawingManager({
                drawingControlOptions: {
                    position: google.maps.ControlPosition.TOP_CENTER,
                    drawingModes: [
                        google.maps.drawing.OverlayType.MARKER,
                        google.maps.drawing.OverlayType.POLYGON
                    ]
                },
                markerOptions: map.defaults,
                polygonOptions: map.defaults
            });

            map.drawingManager.setMap(map);

            google.maps.event.addListener(map.drawingManager, 'overlaycomplete', function (event) {
                Map.onMapDraw(event);

                console.log(this);
            });
        },

        clear: function() {
            Map.clearShape();
            Map.clearPoint();
        },

        clearShape: function() {
            if (shape != null) {
                shape.setMap(null);
                shape = null;
            }
        },

        clearPoint: function() {
            if (point != null) {
                point.destroy();
                point = null;
            }
        },

        onMapDraw: function (event) {
            // Set the drawing mode to "pan" (the hand) so users can immediately edit
            map.drawingManager.setDrawingMode(null);

            // Polygon drawn
            if (event.type === google.maps.drawing.OverlayType.POLYGON) {
                console.log("Polygon drawn");
                Map.clearShape();
                shape = event.overlay;
                shape.setOptions({fillOpacity:0});

            } else if (event.type === google.maps.drawing.OverlayType.MARKER) {
                console.log("Marker drawn");
                Map.clearPoint();
                point = new Point(event.overlay);
            }
        }
    };
})();

$(document).ready(function() {
    Map.init({});

    $("#map-controls .clear").click(function() {
        Map.clear();
    })
});

    </script>
}

@main("app.environments", "Edit "+form("name").value, scripts) {

    <div class="page-header">
        <h2>@Messages("app.actions.edit"): @form("name").value</h2>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Information</h3>
        </div>
        <div class="panel-body">

            @b3.form(controllers.admin.routes.EnvironmentController.edit(1)) {
                @b3.text( form("name"), '_label -> "Name", 'placeholder -> "Name" )
                @b3.select( form("environmentTypeId"), options = envTypesSeq, '_label -> "Type" )
                @b3.select( form("localizationTypeId"), options = locTypesSeq, '_label -> "Localization Type" )
            }

        </div>
    </div>

    <div class="row">
        <div class="col-xs-9">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h3 class="panel-title">Map</h3>
            </div>
            <div class="panel-body row">

                <div id="map"></div>

            </div>
        </div>
        </div>

        <div class="col-xs-3">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h3 class="panel-title">Location</h3>
            </div>
            <div id="map-controls" class="panel-body row">
                <button class="btn btn-primary clear">Clear</button>
            </div>
        </div>
        </div>

    </div>
}
